* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #381c1c;
  background: #fff;
  margin: 0;
}

nav {
  background-color: rgb(41, 92, 139);
}

nav a {
  color: white;
  display: block;
  padding: 10px;
}

main {
  padding: 20px;
}

h1 {
  color: rgb(41, 92, 139);
}

main img {
  width: 100px;
  height: auto;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  box-shadow: 0 0 30 px rgb(156, 155, 155);
  margin-bottom: 10px;
  display: block;
}

p {
  margin-bottom: 10px;
}

aside {
  width: 100%;
  max-width: 320px;
  margin: 20px 0;
  padding: 15px;
  height: auto;
  display: block;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: rgb(245, 238, 209);
  color: #221111;
  text-align: center;
}

aside img {
  width: 100px;
  height: auto;
  display: block;
  margin: 10px 0;
  border: none;
  box-shadow: none;
}

footer {
  width: 100%;
}

footer p {
  text-align: center;
  padding: 10px 0;
}
