* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #381c1c;
  background: #fff;
  margin: 0;
}

nav {
  background-color: rgb(41, 92, 139);
}

nav a {
  color: white;
  display: block;
  padding: 10px;
}

h1 {
  color: rgb(41, 92, 139);
}

main img {
  width: 100px;
  height: auto;
  border: 2px solid rgb(41, 92, 139);
  padding: 5px;
  box-shadow: 0 0 30 px rgb(156, 155, 155);
}

p {
  padding: 10px;
  margin: 10px;
}

aside {
  width: 30rem;
  margin: 10em;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 2em;
  background-color: rgb(245, 238, 209);
  color: #221111;
  text-align: center;
}

aside img {
  margin-top: 10em;
  border-top: 1px solid black;
  text-align: center;
}

footer p {
  text-align: center;
}
