* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Criação de variáveis. */
  --cor-de-fundo: rgb(41, 92, 139);
  --cor-letras-botao: rgb(213, 216, 50);
  --cor-barckgroud: white;
  --margin-botton1: 15px;
  --marggin-botton2: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  color: #381c1c;
  background: var(--cor-barckgroud);
}

nav {
  background-color: var(--cor-de-fundo);
}

nav a {
  color: var(--cor-letras-botao);
  display: block;
  padding: 10px;
}

main {
  max-width: 40%;
  margin: 5px;
  padding: 0 5px;
}

h1 {
  color: var(--cor-de-fundo);
  margin-bottom: var(--margin-botton1);
  text-align: center;
  margin: 20px;
}

main img {
  width: 150px;
  height: auto;
  border: 2px solid var(--cor-de-fundo);
  padding: 2px;
  box-shadow: 0 0 15px rgb(128, 127, 127);
  margin-bottom: var(--margin-botton1);
  display: block;
  margin: 5px 2px 20px 0px;
  float: right;
}

p {
  margin-bottom: 2rem;
  padding: 10px 0 10px 0;
  text-align: left;
  margin: 10px;
}

aside {
  width: 100%;
  max-width: 40%;
  margin: 10px 0 25px 10px;
  padding: 15px;
  height: auto;
  display: block;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: rgb(245, 238, 209);
  color: #221111;
  text-align: center;
  clear: both;
  margin-top: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: var(--marggin-botton2);
}

aside img {
  width: 30%;
  max-width: 100% !important;
  height: auto !important;
  display: block !important;
  margin: 10px auto !important;
  border: none;
  box-shadow: none%;
}

footer {
  width: 100%;
  max-width: 40%;
}

footer p {
  color: var(--cor-letras-botao);
  text-align: center;
  background-color: #034f7a;
  padding: 10px 0;
}

/* Seletor de classe */
.caixa {
  margin: 1rem;
  border: 1px solid rgb(0, 0, 0 / 100%);
  padding: 1rem;
  background-color: none;
  color: black;
}
